.page_1 {
    border: white;
    border-style: solid;
    font-size: inherit;
    color: black;
    font-style: normal;
    font-size:-webkit-xxx-large;
    border-width: 10px; 
    background-color: white;
    border-radius: 45px;
}




