.page_1 {
    border: white;
    border-style: solid;
    color: black;
    font-style: normal;
    font-size: 50px;
    border-width: 10px; 
    background-color: white;
    border-radius: 45px;
    position: relative;
    top: 50px;
}

.intro_2 {
    border: white;
    border-style: solid;
    color: black;
    font-style: normal;
    background-color: white;
    border-radius: 15px; 
    top: 100px;
    position: relative; 
    font-size: 25px;
}

.page_2 {
    border: white;
    border-style: solid;
    color:black;
    position: relative;
    top: 20px;
    border-radius: 45px;
    background: white;
}

.vraag_2_style {
    color: black;
    border: white;
    border-style: solid;
    top: 50px;
    position: relative;
    border-radius: 25px;
    background: white;
    font-size: 25px;
}

.button_1 {
    position: relative;
    top: 100px;
    left: 1250px;
}






